@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 변수 설정 */
:root{
  --font-size-xl : 3.2rem;
  --font-size-l : 1.8rem;
  --font-size-m : 1.6rem;
  --font-size-s : 1.4rem;
  --font-size-xs : 1.2rem;
  --font-size-main : 2rem;
}

html{
  font-size: 10px;
}

body{
  font-family: "Noto Sans KR", sans-serif;
}

.-hidden{
  display: none !important
}
