.header{
  position: fixed;
  width: 100%;
  z-index: 98;
  top: 0;
}

/* nav */
.nav{
  width: 100%;
  height: 80px;
  transition: all 1s;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.nav.navActive{
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-wrap{
  position: relative;
  max-width: 1300px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  position: relative;
  max-width: 325px;
  width: 25%;
}

.logo-title{
  height: 0;
  overflow: hidden;
}

.logo-on,
.logo-off{
  vertical-align: middle;
  transition: all 0.2s ease-out;
  opacity: 1;
  width: 100%;
  min-width: 225px;
  cursor: pointer;
}

.logo:hover .logo-on{
  transform: translate(20px, 0px);
  opacity: 0;
}

.logo-off{
  transition: all 0.2s ease-out;
  transform: translate(20px, 0px);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}

.logo:hover .logo-off{
  transform: translate(0px, 0px);
  opacity: 1;
}

.nav-pcMenu{
  width: 100%;
}

.pcMenu-list{
  display: flex;
  align-items: center;
  height: 100%;
}

.pcMenu-list .list-item{
  font-size: var(--font-size-m);
  width: 100%;
  text-align: center;
  position: relative;
  height: 100%;
}

.pcMenu-list .menuMap {
  transition: all 0.5s;
  width: 0;
  overflow: hidden;
  opacity: 0;
}

.pcMenu-list .menuMap.active{
  width: 100%;
  opacity: 1;
}

.pcMenu-list .list-item a{
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  line-height: 80px;
}

.pcMenu-list .subMenu-list__wrap{
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 98;
  width: 100%;
  transform: translateY(-1px);
  transition: all 0.5s;
}

.subMenu-list .list-item{
  font-size: var(--font-size-s);
}

.pcMenu-list .subMenu-list .list-item a{
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  color: #555;
  display: block;
  font-size: var(--font-size-s);
}

.pcMenu-list .subMenu-list .list-item a:hover{
  background-color: #ddd;
  color: var(--main-color);
}

/* mobile */
.nav-mobileMenu{
  display: none;
  height: 100%;
}

.mobileMenu-icon.active .fa-bars{
  color: #000;
}

.mobileMenu-icon .fa-bars{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  padding: 10px;
  color: #aaa;
  font-size: 1.4rem;
}

.mobileMenu{
  position: absolute;
  left: 0;
  z-index: 98;
  width: 100%;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.mobileMenu.active{
  max-height: 500px;
  overflow-y: auto;
}

.mobileMenu-list > .list-item{
  border-top: 1px solid #444;
}

.mobileMenu-list > .list-item > a{
  display: block;
  background-color: rgba(51, 51, 51, 0.95);
  height: 50px;
  line-height: 50px;
  margin: 0px 0 0;
  color: #fff;
  font-size: var(--font-size-m);
}

.mobileMenu-list .subMenu-list__wrap{
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.mobileMenu-list .subMenu-list .list-item a{
  display: block;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  font-size: var(--font-size-s);
  border-top: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.95);
  color: #555;
}

.mobileMenu-list .subMenu-list .list-item a:hover{
  background-color: #ddd;
  color: var(--main-color);
}


@media screen and (max-width:1200px) {
  body {
    padding-right: 0px;
  }
  
  .nav.navActive{
    padding-right: 0px;
  }

  .side-menu{
    display: none;
  }
}

@media screen and (max-width:1130px) {
  .top-nav ul{
    display: none;
  }

  .nav{
    height: 60px;
  }

  .nav-pcMenu{
    display: none;
  }

  .nav-mobileMenu{
    display: block;
  }
}
