
body {
  color: var(--darkgray);
  overflow-x: hidden;
}

header {
  height: 120px;
}

header .pc-header {
  background-color: var(--beige);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.pc-header .inner {
  max-width: 1100px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  padding: 0px 10px;
}

.pc-header .logo {
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* top-menu */
.pc-header .top-menu {
  display: flex;
  position: absolute;
  right: 40px;
  top: 10px;
}

.top-menu .menu-list {
  display: flex;
  height: 40px;
  align-items: center;
}

.top-menu .menu-list .list-item {
  position: relative;
}

.top-menu .menu-list .list-item::before {
  content: "|";
  width: 1px;
  height: 12px;
  color: var(--gray);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.top-menu .menu-list .list-item:first-child::before {
  display: none;
}

.top-menu .menu-list .list-item a {
  font-size: var(--font-size-S);
  display: block;
  padding: 12px 16px;
  color: var(--gray);
}

.top-menu .menu-list .list-item a:hover {
  text-decoration: underline;
}

header .top-menu .search {
  position: relative;
}

header .top-menu .search input {
  cursor: pointer;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  padding-left: 10px;
  border: 1px solid var(--lightgray);
  color: var(--gray);
  background-color: var(--white);
  border-radius: 5px;
  font-size: var(--font-size-S);
  transition: width 0.4s;
}

header .top-menu .search input:focus {
  width: 190px;
  border-color: var(--menufont);
  cursor: text;
}

header .top-menu .search i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  margin: auto;
  height: var(--font-size-M);
  font-size: var(--font-size-M);
  pointer-events: none;
  transition: all 0.4s;
}

/* main메뉴 */
.nav {
  height: 60px;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.nav .menu-list {
  display: flex;
}

.nav .menu-list>.list-item:first-child {
  display: none;
}

.nav .menu-list .list-item__title {
  padding: 0px 20px;
  font-size: var(--font-size-M);
  height: 100%;
  line-height: 60px;
  display: block;
}

.nav .list-item:hover .list-item__title {
  background-color: var(--menubg);
  color: var(--menufont);
  text-decoration: underline;
}

.nav .subTitle-list__wrap {
  width: 100%;
  height: 0;
  position: fixed;
  left: 0;
  background: var(--menubg);
  transition: all 0.4s;
  overflow: hidden;
}

.nav .subTitle-list {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
}

.nav .subTitle-list>.list-item {
  width: 220px;
  padding-bottom: 40px;
}

.nav .subTitle-list .list-item__subTitle {
  font-size: var(--font-size-M);
  padding: 20px 0px 10px;
  color: var(--white);
}

.nav .subTitle-list .list-item {
  font-size: var(--font-size-S);
  padding: 5px 0px;
  color: var(--gray);
}

.nav .subTitle-list .list-item__subTitle:hover,
.nav .subMenu-list .list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* 모바일메뉴 */
header .mobile-header {
  background-color: var(--beige);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-header .mobile-logo {
  margin-left: 20px;
}

/* IMG로 넣을 경우 */
.mobile-header .mobile-logo img {
  display: block;
  width: 45px;
  height: 45px;
}

.mobile-header .mobile-icon {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.mobile-header .mobile-icon i {
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}

/* 모바일 메뉴 폰트 색상 */
.mobile-menu a {
  color: var(--white);
}

.mobile-menu__bg {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  width: 100%;
  height: 100%;
}

.mobile-header .inner {
  position: fixed;
  top: 0;
  right: 0;
  width: min(80vw, 400px);
  height: 100%;
  background: var(--menubg);
  transform: translateX(120%);
  transition: all 1s;
  z-index: 2;
}

.mobile-menu__wrap {
  height: 100%;
  overflow-y: auto;
}

.mobile-menu__wrap.active {
  overflow: auto;
}

.mobile-menu__wrap .icon-close {
  position: absolute;
  top: 5%;
  left: -15%;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  color: var(--white);
}

.mobile-menu__wrap .icon-search {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: var(--gray);
}

.mobile-menu__wrap .icon-search input {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.mobile-menu__wrap .icon-search label {
  display: inline-block;
  width: 20%;
  height: 40px;
  background-color: var(--darkgray);
  color: var(--white);
  border-radius: 10px;
  text-align: center;
  margin-left: 5px;
  font-size: var(--font-size-M);
  line-height: 40px;
  cursor: pointer;
}

.mobile-nav {
  width: 100%;
}

.mobile-menu__wrap .menu-list>.list-item{
  padding: 0 20px;
  position: relative;
}

.mobile-menu__wrap .menu-list>.list-item:first-child {
  background-color: var(--gray);
}

.mobile-menu__wrap .menu-list .list-item > a {
  font-size: var(--font-size-L);
  display: block;
  padding: 20px 0;
  position: relative;
}

.mobile-menu__wrap .menu-list .list-item .menu-icon__down {
  color: var(--white);
  font-size: 30px;
  position: absolute;
  right: 0;
  padding: 20px;
  top: 0;
  cursor: pointer;
}

.mobile-menu__wrap .subTitle-wrap {
  height: 0;
  overflow: hidden;
  transition: all .4s;
  opacity: 0;
}

.mobile-menu__wrap .subTitle-wrap.active {
  height: auto;
  overflow: visible;
  opacity: 1;
}

.mobile-menu__wrap .subTitle-list {
  padding-left: 20px;
}

.mobile-menu__wrap .subMenu-list {
  height: 0;
  overflow: hidden;
  transition: all 1s;
  opacity: 0;
}

.mobile-menu__wrap .subMenu-list.active {
  height: auto;
  overflow: visible;
  opacity: 1;
}

.mobile-menu__wrap .subMenu-list .list-item {
  padding-left: 20px;
}

.mobile-menu__wrap .subMenu-list .list-item a {
  display: block;
  font-size: var(--font-size-L);
  padding: 20px 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.mobile-menu__wrap .subMenu-list .list-item .menu-icon__down {
  color: var(--lightgray);
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 20px;
  cursor: pointer;
}

/* ______________________미디어쿼리 ______________________*/
@media screen and (max-width: 970px) {
  header {
    height: 70px;
  }
}